/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$periwinkle: #00b5cc;
$gold: #e9c31e;
$grey: #999999;
$orange: #f26641;
$green: #8dc63f;
$purple: #940064;
$seafoam: #2dbdb6;

html, body {	
	font-family: 'Merriweather Sans', 'Helvetica Neue', sans-serif !important;
	font-weight: 400;
}

h1, h2, h3, h4, h5, p {
	margin-bottom: 8px;
}

h1 {
	font-size: 40px;
	font-weight: 800;
	line-height: 42px;
}

h2 {
	font-size: 24px;
	line-height: 26px;
	font-weight: 800;
}

p, li {
	font-size: 12px;
	line-height: 14px;
	line-height: 15px;
}

.main, .cover-body, .interview, .feature-img-cc, .innerflap, #title-ignites  {
	position: relative;
}

blockquote {
	font-weight: 300;
	width: 50%;
	float: right;
	padding-bottom: 82px;
}

strong {
	font-weight: bold;
}

a, a:hover {
	color: $periwinkle;
	text-decoration: none;	
}

.ignites a {
	color:black;
}

section.realities {
	overflow-y: auto;
	//height: 600px;
	/* fallback */
	background-repeat: repeat-x;
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6e9ef), to(#2F2727));
	
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #c6e9ef, #fff);
	
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #c6e9ef, #fff);
	
	/* IE 10 */
	background: -ms-linear-gradient(top, #c6e9ef, #fff);
	
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #c6e9ef, #fff);
}

//Custom layout and typography


h1.innerflap-head-large, h1.innerflap-head {
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 72px ;	
	line-height: 74px;
}

h1.innerflap-head
{
	font-size: 40px ;
	padding-bottom: 6px;	
}

.seafoam-head {
	color: $seafoam;
	text-decoration: underline;
	a {
		color: $seafoam;
	}
}


.blue-head {
	color: $periwinkle;
	text-decoration: underline;
	a {
		color: $periwinkle;
	}
}

.purple-head {
	color: $purple;
	text-decoration: underline;
	a {
		color: $purple;
	}
}

.orange-head {
	color: $orange;
	text-decoration: underline;
	a {
		color: $orange;
	}
}

.gold-head {
	color: $gold;
	text-decoration: underline;
	a {
		color: $gold;
	}
}

.green-head {
	color: $green;
	text-decoration: underline;
	a {
		color: $green;
	}
}

.huge, .ignites {
	text-decoration: none !important;
	font-size: 144px;
	line-height: 146px;
	text-transform: uppercase;
	}

.adjust {
		font-size: 72px;
		line-height: 74px;
	}
	

.shadow {
	text-shadow: 3px 3px 30px #999999;
}


.callout {
	margin-bottom: 20px;
	background-color: white;
	padding: 20px;
	border: 1px solid $grey;
	
	h2 {
		font-weight: 800;
/* 		text-decoration: underline; */
		margin-bottom: 8px;
	}
	h3 {
		font-size: 24px;
		line-height: 26px;
		font-weight: 800;
		a {
		text-decoration: none;	
		}
	}
	h4 {
		font-weight: 800;
	}
	p, ul li {
		font-size: 12px;
		line-height: 14px;
		/*
font-weight: 800;
		margin-left: 20px;
*/
	}
	ul li {
		margin-left: 20px;
		margin-bottom: 8px;
		list-style-type: disc;
		
	}
	
}

	div.callout:hover {
		opacity: .95;
		border: 1px solid black;
	}

.more {
	font-size: x-small; font-weight: normal; color: black; text-decoration: none !important;
}



h1.innovation, h1.ignited, .cover-body p:first-child {
	text-transform: uppercase;
	font-weight: bolder; 
	position: absolute;
	z-index: 5;
	left:40px;
}
h2.article-head {
	text-decoration: underline;
	font-weight: 800;
}


h1.innovation {
	top: 40px;
	font-size: 48px;
	line-height: 50px;
	border-bottom: 3px solid black;
}

h1.ignited {
	top: 90px;
	font-size: 48px;
	line-height: 50px;
	border-bottom: 3px solid black;
}

.article {
	h2 {
		font-weight: 800;
		margin-bottom: 8px;
	}
}

h2.subhead {
	text-transform: uppercase;
	padding-top: 55px;
}

.interview {

	h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 800;
	text-transform: uppercase;
	display:block;
	}
	
	h3 {
	color: $gold;
	font-weight: bolder;
	font-weight: 800;
	margin-top: 16px;
	}
		
	p {
	line-height: 14px;
	margin-bottom: 24px;
	}
}


.cover-body p:first-child {
	width: 200px;
	color: $periwinkle;
	text-decoration: underline;
	bottom: 120px;
}

.creative-title-style, .mars-title-style, .innovations-title-style, .banting-title-style, .utest-title-style, .techno-title-style{
	cursor: pointer;
	position: absolute;
	top: 0;
	background-color: white;
	padding: 20px;
	border: 1px solid grey;
}

.mars-title-style {
	top: 170px;
}

.innovations-title-style {
	top: 310px;
}

.banting-title-style {
	top: 60px;
left: -10px;
}

.utest-title-style {
	top: 200px;
	left: 480px;
}

.techno-title-style {
	top: 340px;
	left:150px;
	
}

h2.article-head p img {
	padding-top: 36px;
}


// DRAWINGS AND IMAGES

//Cover drawing
.cover-curves {
	position: absolute;
	top: -40px;
	left: -48px;
}

//Canada drawing (inner flap)
.canada-curves {
	position: absolute;
	top: -460px;
}

//How U of T Ignites Innovation

#creative, #mars, #innovations, #banting, #utest, #techno {
	margin-bottom:30px;
}

img#how-ignites, img#ignites-ignites, img#innovation-ignites, img#banting-ignites, img#utest-ignites, img#techno-ignites {
	position: absolute;
}

img#how-ignites {
	top: 30px;
	left: -36px;
}

img#ignites-ignites {
	 left: -35px;
	 top: 200px
 }

img#innovation-ignites {
	 left: -35px;
	 top: 340px;
}

img#banting-ignites {
	left: 871px;
top: 90px;
}

img#utest-ignites {
	left:584px;
	top:233px;
}

img#techno-ignites {
	top: 380px;
left: 951px;
}

.results p {
	background-image: url("img/arrow.png");
	background-repeat: no-repeat;
	background-size: 35px 15px;
	padding-left: 39px;
	line-height: 18px;
}
 
 img.black-arrow {
	width:50px; 
}


//Individual Drawings
.cast-connex-drawing, .innovating-edu_drawing, .supercomputing_drawing, .info-assessment_drawing, .toilet_drawing, .mars_drawing, .lab-chip_drawing, .doc-office_drawing, .ecotec_drawing, .tracking-trends_drawing, .helping-crops_drawing, .kingston-galloway_drawing, .cancer_drawing {
	position:absolute;
}

.cast-connex-drawing {
	bottom: -266px;
	right: 0px;
}

.innovating-edu_drawing {
	bottom: -389px;
	left: 97px;
}

.supercomputing_drawing {
	top: 400px;
	left: 70px;

}

.info-assessment_drawing {
	bottom: -339px;
}

.toilet_drawing{
	top: 614px;
	left: 0;
}

.mars_drawing {
	top:551px;
	left:0;
}


.lab-chip_drawing {
	top: 690px;
	left: 0;
}

.doc-office_drawing {
	top: 653px;
	left: 67px;
}

.ecotec_drawing {
	top: 510px;
	
}

.tracking-trends_drawing {
	top: 594px;
	left: 0px;
}

.helping-crops_drawing {
	top: 500px;
	left: 0;	
	
}

.kingston-galloway_drawing {
	top: 683px;
	left: 0;
}


.cancer_drawing {
	top: 683px;
	left: 170px;
}

.innovator-img {
	cursor: pointer;
}

.feature-img-cc {
	img {
	position: absolute;
	z-index: 10;
	left: 630px;
	top: 900px;
	width: 150px;
	}
	p {
	position: absolute;
	z-index: 10;
	left: 629px;
	top: 1055px;
	}
}

//ADDITIONAL BOOTSTRAP STYLE


//ADDITIONAL ANIMATION.css STYLE

#how-ignites {
	-moz-animation-delay: .25s;
    -webkit-animation-delay: .25s;
    -o-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

#ignites-ignites {
	-moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#innovation-ignites {
	-moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

#banting-ignites {
	-moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
	
}

#utest-ignites {
	-moz-animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    animation-delay: 1.25s;
	
}

#techno-ignites {
	-moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
	
}

/*
#how-ignites, #ignites-ignites, #innovation-ignites, #banting-ignites, #utest-ignites, #techno-ignites {
    -moz-animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
    -o-animation-iteration-count: 3;
    animation-iteration-count: 3;
}
*/


//MENUS

//FOOTER 

.site-info {
	font-size: x-small;
}


//ADDITIONAL MEDIA QUERIES

@media (max-width: 767px) {
	.cast-connex-drawing, .gray-oliveira, .feature-img-cc img, .interview h1, .canada-curves {
	position:static;
	}
	.feature-img-cc img {
	position:static;
	margin-left:0;	
	}
	blockquote {
	width: 100%;
	padding-bottom: 0;
	}
	.feature-img-cc p {
	display:none;
	}
	.huge {
	text-decoration: none !important;
	font-size: 40px;
	text-transform: uppercase;
	}

	.adjust {
		font-size: 40px;
		line-height: 42px;
	}
	
	h2.subhead {
		padding-top:0;
	}
	
	#title-ignites h1 span.ignites {
		font-size: 50px;
		line-height: 52px;
	}
	
	img#how-ignites, img#ignites-ignites, img#innovation-ignites, img#banting-ignites, img#utest-ignites, img#techno-ignites {
	display: none;
}

	.creative-title-style, .mars-title-style, .innovations-title-style, .banting-title-style, .utest-title-style, .techno-title-style {
	position: static;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.cast-connex-drawing, .gray-oliveira, .feature-img-cc img, .interview h1, .canada-curves {
	position:static;
	}
	.feature-img-cc p {
	display:none;
	}
	
	blockquote {
	font-weight: 300;
	width: 50%;
	float: right;
	padding-bottom: 30px;
	}

	
	.adjust {
		font-size: 53px;
		line-height: 55px;
	}
	
	.blue-head.huge {
		font-size: 112px;
		line-height: 115px;
	}
	
	#title-ignites h1 span.ignites {
		font-size: 50px;
		line-height: 52px;
	}
		img#how-ignites, img#ignites-ignites, img#innovation-ignites, img#banting-ignites, img#utest-ignites, img#techno-ignites {
	display: none;
}
}

@media (max-width: 1200px) and (min-width: 767px){
	.feature-img-cc img, .feature-img-cc p {
	position:static;
	margin-left:20px;	
	}	
}

@media (min-width: 1201px) {
	.adjust {
	font-size: 96px;
	line-height: 100px;
	}
}





